<!DOCTYPE html>
<html>
<title>MOOC Podcast Transcoder</title>
<body>
<p>MOOC Podcast Transcoder</p>
<p><a href="/list">list all buckets</a></p>
<p><a href="/in">list input files</a></p>
<form action="/download" method="get">
	<input type="text" name="filename" value="test.mp4" />
	<input type="submit" value="Download"/>
</form>
<form action="/upload" method="get">
	<input type="text" name="filename" value="test.mp4" />
	<input type="submit" value="Upload"/>
</form>
<form action="/update" method="post">
	<input type="hidden" name="sender" value="ui" />
	<input type="hidden" name="message" value="test" />
	<input type="submit" value="SNS test"/>
</form>
</body>
</html>
